#container{
    display: flex;
    flex-direction: column;
}

#namebox{
    text-align: center;
    font-size: xx-large;
}

#imagebox img
{
    width: 30vw;
    height: 50vh;
    object-fit: contain;
}

body{
    background-color: beige;
    font-size: large;
}